button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  opacity: .8;
}

.critical-button {
  background-color: #c55151;
}